:root {
  --ready-text-color: aliceblue;
}

#readyBar {
  position: absolute;
  display: flex;
  top: 200px;
  width: 1024px;
  height: 200px;
  /* border: 2px solid black; */
  align-items: center;
}

#readyPlayerOne {
  color: var(--ready-text-color);
  margin: auto;
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#readyEnemyOne {
  color: var(--ready-text-color);
  margin: auto;
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#notReady {
  border: 5px solid;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#restart {
  position: absolute;
  bottom: 42%;
  height: fit-content;
  width: fit-content;
  left: 45%;
}

#startGame {
  position: absolute;
  display: flex;
  width: fit-content;
  bottom: -30px;
  right: 27rem;
  font-size: 30px;
}
